@layer page {
    main section h1,
    main section h2,
    main section h3 {
        color: #fff;
        font-family: 'Inter';
        font-weight: 500;
        line-height: 1;
    }

    main section h1 {
        font-size: 80px;
    }

    main section h2 {
        font-size: 60px;
    }

    #core--intro {
        background: radial-gradient(ellipse at 50% 30%, rgba(106, 0, 255, 0.5) 0%, rgba(106, 0, 255, 0.2) 50%, transparent 75%), #000;
    }

    #core--intro blockquote {
        text-align: left;
        border: 5px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.1);
        box-shadow:
            inset 0 0 10px rgba(255, 255, 255, 0.1),
            0 10px 30px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(4px);
    }

    #core--intro header h1 {
        font-size: 100px;
        font-weight: 500;
        color: rgb(148, 99, 255);
        text-shadow: 0 0 20px rgb(81, 0, 255);
    }

    #core--stack {
        background: #000;
    }

    #core--stack h2 {
        color: rgb(64, 210, 255);
    }

    #core--stack h1 {
        margin: 0 0 20px 0;
    }

    #core--stack #stacks {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        margin: 2% 0;
        padding: 2%;

        width: 100%;

        background: rgba(0, 180, 255, 0.1);
        border: 1px solid rgba(0, 180, 255, 0.4);
        border-radius: 30px;
        overflow-x: auto;
    }

    #core--stack #stacks .stack {
        font-family: 'Inter';

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        margin: 1%;
        padding: 2%;
        gap: 4%;

        max-width: 48%;
        background: linear-gradient(120deg, rgba(0, 180, 255, 0.05) 0%, rgba(0, 180, 255, 0.35) 50%, rgba(0, 180, 255, 0.6) 100%);

        background-size: 200% 200%;
        background-position: top left;

        transition: background-position 0.5s ease;
        background-size: 200%;
        background-position: top left;

        border: 1px solid rgba(0, 180, 255, 0.6);
        border-radius: 20px;

        color: rgb(64, 210, 255);
        transition: 0.5s ease;
    }

    #core--stack #stacks .stack h1 {
        color: rgb(170, 235, 255);
        text-shadow: 0 0 10px rgb(13, 121, 154);
        margin: 0 0 20px 0;
    }

    #core--stack #stacks .stack:hover {
        background-position: bottom right;
        border-color: rgb(0, 180, 255);
        box-shadow: 0 10px 30px rgba(0, 180, 255, 0.4);
    }

    #core--stack #stacks .stack img {
        width: 100px;
        height: auto;
    }
}
