@layer page {
    body {
        background: #111;
    }

    #map--intro {
        background: #111;
    }

    #map--intro h1 {
        font-family: 'Geist';
        font-size: 100px;
        margin: 50px 0;
        color: white;

        text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
    }

    #map .flex-child {
        background: radial-gradient(circle at top, #333 0%, #222 55%, #222 100%);
        border: 2px solid #777;

        text-align: center;
        box-shadow: none;
        margin: 2%;
        border-radius: 30px;

        padding: 40px;

        min-width: 40%;
    }

    #map .flex-child h1 {
        font-size: 50px;
        margin: 0;
        margin-bottom: 30px;
    }
}
