#top-panel {
    user-select: none;
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;

    inset: 0 0 auto 0;

    height: 150px;
    max-height: 10vh;

    background: linear-gradient(120deg, #222, #444);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
    z-index: 2147483648;

    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    padding-top: min(150px, 10vh);
}

#panel-logo,
#open-navigation,
#close-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: min(10px, 1vh);

    padding: 0 min(20px, 2vh);

    height: 100%;
}

#top-panel div,
#top-panel div *,
#close-navigation div,
#close-navigation * {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-decoration: none;

    transition:
        text-shadow 0.2s ease,
        background 0.2s ease,
        box-shadow 0.2s ease,
        transform 0.2s ease;
}

#top-panel div:hover {
    cursor: pointer;

    background: #333;
    box-shadow: 0 0 20px #333;
}

#panel-logo {
    align-self: flex-start;
}

#panel-logo a {
    color: white;
    text-shadow: none;
    font-size: min(45px, 4.5vh);
}

#panel-logo a:hover {
    transform: none;
}

#open-navigation {
    align-self: flex-end;
}

#open-navigation p,
#close-navigation p {
    margin: 0;
    padding: 0;

    font-size: min(30px, 3vh);
    font-family: 'Fira Code';
}

#open-navigation p {
    color: white;
}

#close-navigation p {
    color: black;
}

#open-navigation button,
#close-navigation button {
    margin: 0;
    padding: 0;

    width: min(45px, 4.5vh);
    height: min(45px, 4.5vh);

    color: black;

    font-size: min(30px, 3vh);
}

#open-navigation img,
#close-navigation img {
    width: 100%;
    height: 100%;
}

#navigation-overlay,
#navigation-overlay * {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#navigation-overlay {
    display: block;
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
    box-shadow: inset 0 0 5vw black;

    z-index: 2147483647;

    cursor: pointer;
}

#navigation-overlay.active,
#navigation-overlay.active * {
    opacity: 1;
    pointer-events: auto;
}

#navigation-panel {
    position: fixed;

    background: rgba(255, 255, 255, 0.8);

    width: 40vw;
    height: 100vh;

    right: 0;
}

#close-navigation {
    position: fixed;
    top: 0;

    background: rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);

    width: 100%;
    height: 150px;
    max-height: 10vh;
}

#close-navigation p,
#close-navigation button {
    color: black;
}
