#top-panel {
    position: fixed;

    top: 0;
    left: 0;

    height: 15vh;
    min-width: 100vw;

    background: #ffffffaa;
    color: black;
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow-x: auto;

    z-index: 2147483646;
}
