body {
    padding-top: min(150px, 10vh);
}

#top-panel {
    user-select: none;
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;

    inset: 0 0 auto 0;

    height: 150px;
    max-height: 10vh;

    background: linear-gradient(120deg, #222, #444);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
    z-index: 2147483647;

    overflow-x: hidden;
    overflow-y: hidden;
}

#panel-logo,
#open-navigation,
#close-navigation {
    display: flex;
    position: relative;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: min(10px, 1vh);

    padding: 0 min(20px, 2vh);

    height: 100%;
}

#top-panel p,
#navigation-panel p {
    background: none;
}

#top-panel button,
#navigation-panel button {
    background: none;
    border: none;
}

#panel-logo,
#panel-logo *,
#open-navigation,
#open-navigation *,
#close-navigation,
#close-navigation *,
#navigation-panel,
#navigation-panel * {
    user-select: none;
    transition:
        background 0.2s ease,
        box-shadow 0.2s ease,
        text-shadow 0.2s ease,
        transform 0.2s ease,
        filter 0.2s ease,
        color 0.2s ease !important;
}

#top-panel div p,
#top-panel div button {
    color: white;
}

#top-panel div:hover {
    cursor: pointer;

    background: #333;
    box-shadow: 0 0 20px #333;
}

#panel-logo {
    align-self: flex-start;
}

#panel-logo:hover *,
#open-navigation:hover *,
#close-navigation:hover * {
    text-shadow: 0 0 10px #bbb;
}

#open-navigation:hover img,
#close-navigation:hover img {
    filter: drop-shadow(0 0 10px #bbb);
}

#open-navigation {
    align-self: flex-end;
}

#panel-logo p,
#open-navigation p,
#close-navigation p {
    margin: 0;
    padding: 0;
    color: white;

    font-size: min(30px, 3vh);
    font-family: 'Fira Code';
}

#panel-logo p {
    padding: 0;

    text-shadow: none;
    font-size: min(45px, 4.5vh);
    font-family: 'JetBrains Mono';
}

#close-navigation p,
#close-navigation button {
    color: white;
}

#close-navigation {
    justify-content: right;

    top: 0;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);

    height: 150px;
    max-height: 10vh;

    cursor: pointer;
}

#open-navigation img,
#close-navigation img,
.chevron {
    margin: 0;
    padding: 0;

    width: min(45px, 4.5vh);
    height: min(45px, 4.5vh);

    box-shadow: none;
    border-radius: 0;
}

#navigation-panel {
    position: fixed;

    background: rgba(20, 20, 20, 0.9);

    width: 40vw;
    height: 100vh;

    right: 0;

    overflow-y: auto;
    user-select: none;
}

#navigation-panel nav ul {
    border-radius: 10px;
    margin: 10px;
    line-height: 1;

    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 10px black;

    color: gray;
}

#navigation-panel nav li {
    position: relative;

    padding: 0;
    margin: 0.5rem 0;
    width: 90%;
}

#navigation-panel a {
    font-size: 25px;

    background: none;
    padding: 0.5rem 0.5rem;
    margin: 0;

    height: 100%;

    color: #ccc;
    text-shadow: 0 0 10px black;
    text-decoration: none;
}

#navigation-panel nav ul ul a {
    font-size: 20px;
}

#navigation-panel a:hover {
    transform: none;
    text-decoration: underline;

    color: #1ad8ea;
    text-shadow: 0 0 10px #0b6aa1;

    cursor: pointer;
}

#navigation-overlay,
#navigation-overlay * {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#navigation-overlay {
    display: block;
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
    box-shadow: inset 0 0 5vw black;

    z-index: 2147483647;
}

#navigation-overlay.active,
#navigation-overlay.active * {
    opacity: 1;
    pointer-events: auto;
}

.dropdown {
    display: none;
}

.dropdown.open {
    display: block;
}

.chevron {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #bbb;

    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0;

    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);

    pointer-events: auto;
    transition:
        transform 0.6s ease,
        filter 0.6s ease;
}

.chevron:hover {
    box-shadow: 0;
    filter: drop-shadow(0 0 10px #ffffff);
}

.chevron.open {
    transform: translateY(-50%) rotate(180deg);
}
