body {
    background: linear-gradient(120deg, rgb(27, 3, 56), black);
}

#information {
    font-size: 50px;
    font-family: 'JetBrains Mono';
    color: rgb(168, 114, 255);
}

#current,
#left {
    font-size: 75px;
    color: rgb(139, 49, 255);
    text-shadow: 0 0 20px rgb(78, 16, 159);
}
