@layer page {
    #block {
        display: flex;
        position: fixed;

        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100vw;
        height: 100vh;

        background: black;
    }

    #block h1 {
        color: red;
    }

    body {
        background: black;
        font-family: 'JetBrains Mono';
        animation: DATA_FLICKER 4.3s ease infinite;
    }

    #normal {
        background: black;
        padding: 2%;
    }

    .distorted {
        animation: DATA_EXPUNGED 2.217s ease infinite;
    }

    @keyframes DATA_EXPUNGED {
        0% {
            color: black;
            text-shadow: 0 0 10px black;
        }

        50% {
            color: red;
            text-shadow: 0 0 10px red;
        }

        100% {
            color: black;
            text-shadow: 0 0 10px black;
        }
    }

    @keyframes DATA_FLICKER {
        0% {
            filter: saturate(250%) contrast(250%);
        }

        50% {
            filter: none;
        }

        100% {
            filter: saturate(250%) contrast(250%);
        }
    }
}
