@layer component {
    :root {
        --top-panel-max-height: 20vh;
        --top-panel-overlay-bg: radial-gradient(circle at 50% -25%, black 0%, transparent 25%);

        --top-panel-text: #aaa;
        --top-panel-bg--at-top: rgba(0, 0, 0, 0.25);
        --top-panel-bg--solid: rgba(0, 0, 0, 0.5);

        --connections-bg: linear-gradient(140deg, #3a0387 0%, #1b0346 25%, #1b0346 75%, #4307b1);
    }

    /* body {
        padding-top: 25vh;
    } */

    body > main > section:first-of-type {
        padding-top: calc(25vh + var(--div-padding));
    }

    #top-panel,
    #top-panel * {
        border-radius: 0;
        user-select: none;
    }

    #top-panel-root a {
        position: relative;
        display: inline-block;
    }

    #top-panel {
        position: fixed;
        inset: 0 0 auto 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 2%;
        gap: 4%;

        max-height: var(--top-panel-max-height);

        z-index: 2147483647;
        background: var(--top-panel-bg--solid);

        backdrop-filter: blur(4px);

        overflow-x: hidden;
        overflow-y: hidden;
        transition:
            transform 0.3s ease-in-out,
            background 0.3s ease,
            box-shadow 0.3s ease;
    }

    #top-panel.at-top {
        background: var(--top-panel-bg--at-top);
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    #top-panel.hidden {
        transform: translateY(-200%);
    }

    #top-panel a {
        padding: 0;

        text-shadow: none;
        color: var(--top-panel-text);
        text-decoration: none;

        font-size: 200%;
        font-family: 'Noto Sans Mono';

        transition:
            color 0.5s ease,
            text-shadow 0.5s ease;
    }

    #top-panel .logo,
    #top-panel .logo * {
        transition: text-shadow 0.5s ease;
    }

    .logo,
    .logo * {
        color: white;
    }

    .logo .lanzoordev-head {
        text-shadow: 0 0 25px rgb(129, 18, 255);
        color: transparent;
        background: linear-gradient(90deg, rgb(151, 86, 255), rgb(123, 61, 255));
        background-clip: text;
    }

    h1.logo .lanzoordev-head {
        text-shadow: 0 0 50px rgb(129, 18, 255);
    }

    .logo .lanzoordev-tail {
        opacity: 0.5;
    }

    #top-panel .logo:hover {
        text-shadow: 0 0 20px white;
    }

    #top-panel .logo:hover .lanzoordev-head {
        text-shadow: 0 0 20px rgb(174, 103, 255);
        color: transparent;
        background: linear-gradient(90deg, rgb(151, 86, 255), rgb(123, 61, 255));
        background-clip: text;
    }

    #top-panel--buttons {
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }

    #top-panel--links {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        gap: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        pointer-events: none;
    }

    #top-panel--links a {
        text-decoration: none;

        font-family: 'JetBrains Mono';
        font-size: 20px;

        padding: 5px 10px;
        color: var(--top-panel-text);

        pointer-events: auto;

        transition: all 0.5s ease;
    }

    #top-panel--links a:hover {
        text-decoration: none;

        background: rgb(44, 1, 77);
        color: rgb(141, 83, 255);

        transform: none;
    }

    #navigation--close {
        display: flex;
        position: relative;

        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: min(10px, 1vh);

        padding: 0 min(20px, 2vh);

        height: 100%;
    }

    .panel-icon {
        margin: 0;
        padding: 0;
        border: none;

        width: min(40px, 75%);
        height: min(40px, 75%);

        box-shadow: none;

        transition: all 0.5s ease;
        pointer-events: auto;
    }

    .panel-icon:hover {
        filter: drop-shadow(0 0 10px #bbb);
        cursor: pointer;
    }

    .chevron {
        transform: rotate(-90deg);
    }

    .chevron.open {
        transform: rotate(0deg);
    }

    #navigation--close p {
        margin: 0;
        padding: 0;
        color: var(--top-panel-text);

        font-size: min(30px, 3vh);
        font-family: 'Space Grotesk';
    }

    #navigation--close p,
    #navigation--close button {
        color: white;
    }

    #navigation--close {
        justify-content: right;

        top: 0;

        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);

        height: var(--top-panel-height);

        cursor: pointer;
    }

    #navigation-overlay,
    #navigation-overlay * {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;
    }

    #navigation-overlay {
        display: block;
        position: fixed;

        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2px);
        box-shadow: inset 0 0 10px black;

        z-index: 2147483647;

        transition: opacity 0.5s ease;
    }

    #navigation-overlay.active,
    #navigation-overlay.active * {
        opacity: 1;
        pointer-events: auto;
    }

    #navigation-panel {
        position: fixed;

        background: rgba(0, 0, 0, 0.75);

        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.75);

        backdrop-filter: blur(4px);

        width: 40%;
        height: 100%;

        right: 0;

        overflow-y: auto;
    }

    #navigation-panel nav ul {
        border-radius: 10px;
        margin: 10px;
        padding: 0 40px;

        line-height: 1;

        background: rgba(0, 0, 0, 0.05);

        color: gray;
    }

    #navigation-panel nav li {
        position: relative;

        padding: 0;
        margin: 10px 0;
        line-height: 1;
    }

    #navigation-panel nav div {
        display: flex;
        gap: 5px;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #navigation-panel nav a {
        font-family: 'Space Grotesk';
        font-size: min(25px, 5vh);

        color: #ccc;
        text-shadow: 0 0 10px black;
        text-decoration: none;

        padding: 5px;
        margin: 0;

        height: 100%;

        transition:
            color 0.5s ease,
            text-shadow 0.5s ease;
    }

    #navigation-panel nav ul ul a {
        font-size: 20px;
    }

    #navigation-panel nav a:hover {
        transform: none;
        text-decoration: underline;

        color: #777;
        text-shadow: 0 0 10px black;

        cursor: pointer;
    }

    .dropdown {
        display: none;
    }

    .dropdown.open {
        display: block;
    }

    .inline-dropdown {
        display: none;
    }

    #bottom-navigation {
        padding: auto 20%;
        background: #111;
        border-top: 3px solid #444;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 2%;

        font-family: 'JetBrains Mono';
    }

    #bottom-navigation .flex-child {
        max-width: 30%;
    }

    #connections {
        display: flex;
        flex-direction: column;
    }

    .connection {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 2%;

        margin: 1% 0;
    }

    .connection img {
        width: 40px;
        height: auto;
    }

    footer {
        font-family: 'Space Grotesk';
        margin: 2% 0;
        opacity: 0.75;
    }

    /*
    #connections #container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        flex-direction: row;
        gap: 15px;
    }

    #connections #socials,
    #connections #support {
        font-family: 'JetBrains Mono';

        margin: 0;
        padding: 30px;
        background: rgba(0, 0, 0, 0.25);
        border: 2px solid rgb(255, 255, 255, 0.5);
        border-radius: 30px;
        box-shadow: 0 0 10px rgb(255, 255, 255, 0.5);

        transition: box-shadow 0.2s ease;
    }

    #connections #socials:hover,
    #connections #support:hover {
        box-shadow:
            0 10px 20px rgb(255, 255, 255, 0.25),
            inset 0 0 10px rgb(255, 255, 255, 0.5);
    }

    #connections #socials {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #connections #social-icons {
        display: flex;
        justify-content: left;
        align-items: center;

        flex-direction: row;
        gap: 15px;
    }

    #connections #social-icons img {
        display: inline-block;

        width: 60px;
        height: 60px;
        filter: drop-shadow(0 0 5px rgb(130, 130, 130));

        transition: filter 0.2s ease;
    }

    #connections #social-icons img:hover {
        filter: drop-shadow(0 5px 10px rgb(130, 130, 130));
    }

    #discord-status {
        font-family: 'JetBrains Mono';

        background: #12022f;

        margin: 2rem;
        padding: 2rem;
        border-radius: 2rem;
        border: 0.5rem solid #30078f;
        box-shadow: 0 0 10px #360ed8;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;

        text-align: left;

        color: #bca1ff;
        text-shadow: 0 0 10px #360ed8;

        animation: insetBlackGlow linear 4s infinite;
        transition:
            box-shadow 0.2s ease,
            background 0.5s ease;
    }

    #discord-status b {
        color: #7b47ff;
        text-shadow: 0 0 10px #5512ff;
    }

    @keyframes insetBlackGlow {
        0% {
            box-shadow: 0 0 10px #360ed8;
        }

        50% {
            box-shadow:
                0 0 10px #360ed8,
                inset 0 0 40px #4713c3;
        }

        100% {
            box-shadow: 0 0 10px #360ed8;
        }
    }

    #discord-status:hover {
        background: #220a5d;
        cursor: pointer;
    }

    #discord-status #avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 6px solid transparent;

        background:
            linear-gradient(120deg, #5634ff, #8f72da, #824dff, #7e42ff) border-box,
            #2f3136 padding-box;
        background-clip: border-box, padding-box;

        box-shadow: 0 8px 20px #6d0bc3;

        transition: transform 0.2s ease;
    }

    #discord-status #avatar:hover {
        transform: translateY(-3px);
    }

    #discord-status #nameplate {
        width: 100%;
    }

    #discord-status #display-name {
        text-decoration: none;
        background: linear-gradient(180deg, #ded3ff, #7c35ff);
        color: transparent;
        text-shadow: 0 0 10px #8819ff;

        background-clip: text;
        -webkit-background-clip: text;
    }

    #discord-status #nameplate hr {
        margin: 1rem 0;
        height: 5px;
    }

    .status-online {
        color: #6dff6d;
        text-shadow: 0 0 10px #12a212;
    }

    .status-idle {
        color: #fff56d;
        text-shadow: 0 0 10px #8a8207;
    }

    .status-dnd {
        color: #fd5858;
        text-shadow: 0 0 10px #8a0707;
    }

    .status-offline {
        color: #9c9c9c;
        text-shadow: 0 0 10px #555555;
    } */

    @media (max-width: 768px) {
        #navigation-panel {
            width: 75vw;
        }

        #navigation-panel nav ul a {
            font-size: 20px;
        }

        #navigation-panel nav ul ul a {
            font-size: 17.5px;
        }

        #top-panel,
        #navigation-overlay,
        #navigation-panel {
            backdrop-filter: none;
        }

        #navigation-overlay {
            background: rgba(0, 0, 0, 0.5);
        }

        #navigation-panel nav ul {
            padding: 0 20px;
        }

        .panel-icon {
            width: 30px;
            height: 30px;
        }
    }

    @media (max-width: 1080px) {
        #bottom-navigation {
            padding: auto 10%;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        #bottom-navigation .flex-child {
            max-width: none;
            margin: 1% 0;
        }

        #bottom-navigation .flex-child:nth-child(even) {
            align-self: flex-end;
        }
    }

    @media (max-width: 1200px) {
        #top-panel--links {
            display: none;
        }
    }

    @media (max-width: 1600px) {
        #top-panel .logo {
            font-size: 25px;
        }
        #top-panel--links a {
            font-size: 10px;
        }
    }
}
