@layer component {
    :root {
        --top-panel-max-height: 20vh;

        --top-panel-text: #aaa;
        --top-panel-bg: rgba(0, 0, 0, 0.5);

        --bottom-navigation-bg: radial-gradient(circle at 50% -25%, #22054d 0%, #000 100%);
    }

    /* body {
        padding-top: 25vh;
    } */

    body > main > section:first-of-type {
        padding-top: calc(25vh + var(--div-padding));
    }

    .analytics-notice-panel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;

        padding: 1.5em;

        background: rgba(20, 0, 0);
        box-shadow: 0 10px 50px rgb(150, 0, 0);
        border-top: 2px solid rgba(255, 200, 200);
        backdrop-filter: blur(4px);

        z-index: 9999;

        font-size: 0.6em;

        opacity: 0;
        pointer-events: none;
    }

    .analytics-notice-panel.open {
        opacity: 1;
        pointer-events: auto;
    }

    .analytics-notice-panel .buttons {
        min-width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        gap: 20px;
    }

    .analytics-notice-panel button {
        font-family: 'JetBrains Mono';
        font-size: 1em;

        background: transparent;
        border: none;
        cursor: pointer;
        border-radius: 2147483647px;
        padding: 0.5em 1em;

        color: white;
        border: 2px solid rgba(255, 255, 255, 0.5);

        transition: 0.25s ease;
    }

    .analytics-notice-panel button.enable {
        background: rgba(255, 255, 255, 0.25);
        border-color: transparent;
    }

    .analytics-notice-panel button:hover {
        color: rgb(20, 0, 0);
        background: white;
        box-shadow: 0 0 20px white;
    }

    .analytics-notice-panel h1 {
        color: rgba(255, 150, 150);
        margin: 10px 0;
    }

    .analytics-notice-panel .mobile {
        display: none;
    }

    #top-panel,
    #top-panel * {
        border-radius: 0;
        user-select: none;
    }

    #top-panel-root a {
        position: relative;
        display: inline-block;
    }

    #top-panel {
        position: fixed;
        inset: 0 0 auto 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 2%;
        gap: 4%;

        max-height: var(--top-panel-max-height);

        z-index: 2147483647;
        background: var(--top-panel-bg);

        backdrop-filter: blur(4px);

        overflow-x: hidden;
        overflow-y: hidden;
        transition:
            transform 0.3s ease-in-out,
            background 0.3s ease,
            box-shadow 0.3s ease;
    }

    #top-panel.hidden {
        transform: translateY(-200%);
    }

    #top-panel a {
        padding: 0;

        text-shadow: none;
        color: var(--top-panel-text);
        text-decoration: none;

        font-size: 200%;
        font-family: 'Noto Sans Mono';

        transition:
            color 0.5s ease,
            text-shadow 0.5s ease;
    }

    #top-panel .logo,
    #top-panel .logo * {
        transition: all 0.5s ease;
    }

    #top-panel .logo:hover {
        text-shadow: 0 0 20px white;
    }

    #top-panel .logo:hover .head {
        text-shadow: 0 0 20px rgb(174, 103, 255);
        color: rgb(175, 138, 255);
    }

    #top-panel .logo:hover .tail {
        text-shadow: 0 0 20px #777;
    }

    #top-panel--buttons {
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }

    #top-panel--links {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        gap: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        pointer-events: none;
    }

    #top-panel--links a {
        text-decoration: none;

        font-family: 'JetBrains Mono';
        font-size: 20px;

        padding: 5px 10px;
        color: #aaa;

        pointer-events: auto;

        transition: 0.5s ease;
    }

    #top-panel--links a.current {
        background: rgb(28, 4, 78);
        color: rgb(141, 83, 255);
    }

    #top-panel--links a.current:hover {
        color: rgb(168, 124, 255);
        text-shadow: 0 0 10px rgb(168, 124, 255, 0.5);
    }

    #top-panel--links a:not(.current):hover {
        color: rgba(220, 220, 220);
        text-shadow: 0 0 10px rgba(220, 220, 220, 0.5);
    }

    #navigation--close {
        display: flex;
        position: relative;

        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: min(10px, 1vh);

        padding: 0 min(20px, 2vh);

        height: 100%;
    }

    .panel-icon {
        margin: 0;
        padding: 0;
        border: none;

        width: min(40px, 75%);
        height: min(40px, 75%);

        box-shadow: none;

        transition: all 0.5s ease;
        pointer-events: auto;
    }

    .panel-icon:hover {
        filter: drop-shadow(0 0 10px #bbb);
        cursor: pointer;
    }

    .chevron {
        transform: rotate(-90deg);
    }

    .chevron.open {
        transform: rotate(0deg);
    }

    #navigation--close p {
        margin: 0;
        padding: 0;
        color: var(--top-panel-text);

        font-size: min(30px, 3vh);
        font-family: 'Space Grotesk';
    }

    #navigation--close p,
    #navigation--close button {
        color: white;
    }

    #navigation--close {
        justify-content: right;

        top: 0;

        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);

        height: var(--top-panel-height);

        cursor: pointer;
    }

    #navigation-overlay,
    #navigation-overlay * {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;
    }

    #navigation-overlay {
        display: block;
        position: fixed;

        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2px);
        box-shadow: inset 0 0 10px black;

        z-index: 2147483647;

        transition: opacity 0.5s ease;
    }

    #navigation-overlay.active,
    #navigation-overlay.active * {
        opacity: 1;
        pointer-events: auto;
    }

    #navigation-panel {
        position: fixed;

        background: rgba(0, 0, 0, 0.75);

        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.75);

        backdrop-filter: blur(4px);

        width: 40%;
        height: 100%;

        right: 0;

        overflow-y: auto;
    }

    #navigation-panel nav ul {
        border-radius: 10px;
        margin: 10px;
        padding: 0 40px;

        line-height: 1;

        background: rgba(0, 0, 0, 0.05);

        color: gray;
    }

    #navigation-panel nav li {
        position: relative;

        padding: 0;
        margin: 10px 0;
        line-height: 1;
    }

    #navigation-panel nav div {
        display: flex;
        gap: 5px;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #navigation-panel nav a {
        font-family: 'Space Grotesk';
        font-size: min(25px, 5vh);

        color: #ccc;
        text-shadow: 0 0 10px black;
        text-decoration: none;

        padding: 5px;
        margin: 0;

        height: 100%;

        transition:
            color 0.5s ease,
            text-shadow 0.5s ease;
    }

    #navigation-panel nav ul ul a {
        font-size: 20px;
    }

    #navigation-panel nav a:hover {
        transform: none;
        text-decoration: underline;

        color: #777;
        text-shadow: 0 0 10px black;

        cursor: pointer;
    }

    .dropdown {
        display: none;
    }

    .dropdown.open {
        display: block;
    }

    .inline-dropdown {
        display: none;
    }

    #bottom-navigation {
        padding: auto 10%;
        background: var(--bottom-navigation-bg);
        border-top: 3px solid rgba(133, 91, 224, 0.5);

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2%;

        font-family: 'JetBrains Mono';
    }

    #bottom-navigation #navigation {
        padding: 4% 10%;
        border-bottom: 3px solid rgba(133, 91, 224, 0.5);
    }

    #bottom-navigation #navigation #navigation-links {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;

        gap: 10%;
    }

    #bottom-navigation #navigation #navigation-links .group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;
    }

    #bottom-navigation #navigation #navigation-links .group h2 {
        margin: 5px 0 20px 0;
        font-family: 'JetBrains Mono';
        font-size: 30px;

        color: rgb(123, 61, 255);
    }

    #bottom-navigation #navigation #navigation-links a {
        display: inline-block;

        color: #bbb;
    }

    #bottom-navigation #navigation #navigation-links a:hover {
        color: #eee;
        text-decoration: none;
    }

    #bottom-navigation #bottom {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 5%;
    }

    #bottom-navigation #connections {
        display: flex;
        flex-direction: column;
    }

    #bottom-navigation #connections .connection {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 2%;

        margin: 1% 0;
    }

    #bottom-navigation #connections .connection img {
        width: 40px;
        height: auto;
    }

    footer {
        margin: 2% 0;
        opacity: 0.75;
    }

    @media (max-width: 768px) {
        #navigation-panel {
            width: 75vw;
        }

        #navigation-panel nav ul a {
            font-size: 20px;
        }

        #navigation-panel nav ul ul a {
            font-size: 17.5px;
        }

        #top-panel,
        #navigation-overlay,
        #navigation-panel {
            backdrop-filter: none;
        }

        #navigation-overlay {
            background: rgba(0, 0, 0, 0.5);
        }

        #navigation-panel nav ul {
            padding: 0 20px;
        }

        .panel-icon {
            width: 30px;
            height: 30px;
        }
    }

    @media (max-width: 1080px) {
        .analytics-notice-panel {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: fixed;

            inset: 5% 2.5% 5% 2.5%;
            margin: 0;

            padding-top: 10%;
            padding-bottom: 10%;

            width: 95%;

            border-top: none;
            box-shadow: 0 0 50px rgb(150, 0, 0);
            border-radius: 50px;

            z-index: 2147483647;

            font-size: 15px;
            overflow-y: auto;
        }

        .analytics-notice-panel .buttons {
            min-width: 0;
        }

        .analytics-notice-panel button {
            font-size: 10px;
        }

        .analytics-notice-panel .mobile {
            display: block;
        }

        .analytics-notice-panel.mobile-hide {
            opacity: 0;
            pointer-events: none;
        }

        #bottom-navigation #navigation #navigation-links {
            flex-wrap: wrap;
        }
    }

    @media (max-width: 1200px) {
        #top-panel--links {
            display: none;
        }
    }

    @media (max-width: 1600px) {
        #top-panel .logo {
            font-size: 25px;
        }
        #top-panel--links a {
            font-size: 15px;
        }
    }
}
