body {
    background: radial-gradient(circle at center, #220974 0%, transparent 55%), linear-gradient(140deg, #041947, #10051e 45%, #2b0a63);
}

.font-credits {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 1100px;
    margin: 4rem auto;
    gap: 3rem;
    padding: 2rem;
}

.font-display {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    height: 200px;

    background: rgba(255, 255, 255);
    border: 2px solid black;
    border-radius: 10px;

    box-shadow:
        0 0 10px black,
        inset 0 0 15px black;

    user-select: none;

    transition: box-shadow 0.2s ease;
}

.font-display:hover {
    box-shadow:
        0 10px 25px black,
        inset 0 0 25px black;
}

.font-display a {
    font-size: 20px;
    color: black;
    text-shadow: none;
}

h1 {
    color: #8fe5ff;
    text-shadow: 0 0 10px #0084ff;
}

h2 {
    color: #a58fff;
    text-shadow: 0 0 10px #5100ff;
}

h3 {
    margin: 0.5em;
}

@media (max-width: 480px) {
    .font-credits {
        grid-template-columns: 1fr;
    }

    .font-display {
        padding: 10px 15px;
    }
    .font-display a {
        font-size: 10px;
    }
}
