:root {
    --bg: radial-gradient(circle at bottom, #0e274a 0%, transparent 55%), linear-gradient(140deg, #d9f6ff, #4abbdd 45%, #1569f9);

    --h1-bg: linear-gradient(120deg, #47a5b6, #0a4e7c);
    --h1-shadow: 0 2.5px 20px rgb(9, 55, 129);
}

[data-theme='dark'] {
    --bg: radial-gradient(circle at bottom, #0e274a 0%, transparent 55%), linear-gradient(140deg, #020814, #050b1e 45%, #01040c);

    --h1-bg: linear-gradient(120deg, #aef3ff, #2facff);
    --h1-shadow: 0 2.5px 20px rgb(0, 98, 255);
}

body {
    background: var(--bg);
}

h1,
h2,
h3 {
    font-family: 'Fira Code';
    line-height: 1.1;
}

h1 {
    background: var(--h1-bg);
    text-shadow: var(--h1-shadow);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2 {
    background: linear-gradient(175deg, #50c9de, #0c72b6);
    text-shadow: 0 2.5px 20px rgb(0, 98, 255);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h3 {
    background: linear-gradient(175deg, #aef3ff, #2facff);
    text-shadow: 0 2.5px 20px rgb(0, 98, 255);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

a {
    display: inline-block;
    background: linear-gradient(120deg, #4da6ff, #00e0ff);
    text-shadow: 0 3px 18px rgba(0, 200, 255, 0.8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.2s ease;
}

a:hover {
    background: linear-gradient(120deg, #7bb8ff, #6affff);
    text-shadow: 0 0 18px rgba(120, 240, 255, 1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.solutions {
    display: flex;
    flex-direction: column;

    margin: 0 75px;
    gap: 20px;
}

.solution-left,
.solution-right {
    max-width: 75%;
}

.solution-left {
    align-self: flex-start;
    text-align: left;
}

.solution-right {
    align-self: flex-end;
    text-align: right;
}
