/* ==================== Fonts ==================== */

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
        url('/assets/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src:
        url('/assets/fonts/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
        url('/assets/fonts/ttf/JetBrainsMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
        url('/assets/fonts/ttf/JetBrainsMono-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/woff2/FiraCode-Regular.woff2') format('woff2'),
        url('/assets/fonts/ttf/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    font-style: bold;
    font-weight: 700;

    font-display: swap;
    src:
        url('/assets/fonts/woff2/FiraCode-Bold.woff2') format('woff2'),
        url('/assets/fonts/ttf/FiraCode-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Brass Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/woff2/BrassMonoCode-Regular.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Brass Mono';
    font-style: bold;
    font-weight: 700;

    font-display: swap;
    src:
        url('/assets/fonts/woff2/BrassMonoCode-Bold.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Brass Mono';
    font-style: italic;
    font-weight: 400;

    font-display: swap;
    src:
        url('/assets/fonts/woff2/BrassMonoCode-Italic.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fairfax HD';
    font-style: normal;
    font-weight: 400;

    font-display: swap;
    src:
        url('/assets/fonts/woff2/FairfaxHD.woff2') format('woff2'),
        url('/assets/fonts/ttf/FairfaxHD.ttf') format('truetype');
}

@font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;

    font-display: swap;
    src:
        url('/assets/fonts/woff2/Satoshi-Variable.woff2') format('woff2'),
        url('/assets/fonts/ttf/Satoshi-Variable.ttf') format('truetype');
}

@font-face {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 400;

    font-display: swap;
    src:
        url('/assets/fonts/woff2/Satoshi-VariableItalic.woff2') format('woff2'),
        url('/assets/fonts/ttf/Satoshi-VariableItalic.ttf') format('truetype');
}
