/* ==================== Fonts ==================== */

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2'),
        url('/assets/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src:
        url('/assets/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2'),
        url('/assets/fonts/JetBrainsMono/JetBrainsMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2'),
        url('/assets/fonts/JetBrainsMono/JetBrainsMono-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/FiraCode/FiraCode-Regular.woff2') format('woff2'),
        url('/assets/fonts/FiraCode/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    font-style: bold;
    font-weight: 700;

    font-display: swap;
    src:
        url('/assets/fonts/FiraCode/FiraCode-Bold.woff2') format('woff2'),
        url('/assets/fonts/FiraCode/FiraCode-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Brass Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/BrassMono/BrassMonoCode-Regular.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Brass Mono';
    font-style: bold;
    font-weight: 700;

    font-display: swap;
    src:
        url('/assets/fonts/BrassMono/BrassMonoCode-Bold.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Brass Mono';
    font-style: italic;
    font-weight: 400;

    font-display: swap;
    src:
        url('/assets/fonts/BrassMono/BrassMonoCode-Italic.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fairfax HD';
    font-style: normal;
    font-weight: 400;

    font-display: swap;
    src:
        url('/assets/fonts/FairfaxHD/FairfaxHD.woff2') format('woff2'),
        url('/assets/fonts/FairfaxHD/FairfaxHD.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;

    font-display: swap;
    src:
        url('/assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.woff2') format('woff2'),
        url('/assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}
