/* ==================== Fonts ==================== */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Brass Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/BrassMono/BrassMonoCode-Regular.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Brass Mono';
    font-style: bold;
    font-weight: 700;

    font-display: swap;
    src:
        url('/assets/fonts/BrassMono/BrassMonoCode-Bold.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Brass Mono';
    font-style: italic;
    font-weight: 400;

    font-display: swap;
    src:
        url('/assets/fonts/BrassMono/BrassMonoCode-Italic.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fairfax HD';
    font-style: normal;
    font-weight: 400;

    font-display: swap;
    src:
        url('/assets/fonts/FairfaxHD/FairfaxHD.woff2') format('woff2'),
        url('/assets/fonts/FairfaxHD/FairfaxHD.ttf') format('truetype');
}

/* ==================== Layer Hierarchies ==================== */

@layer base, structure, page, component;

@layer base {
    :root {
        --mono: black;
        --mono-75: rgba(0, 0, 0, 0.75);
        --mono-50: rgba(0, 0, 0, 0.5);
        --mono-25: rgba(0, 0, 0, 0.25);
        --mono-10: rgba(0, 0, 0, 0.1);
        --mono-05: rgba(0, 0, 0, 0.05);

        --inv: white;
        --inv-75: rgba(255, 255, 255, 0.75);
        --inv-50: rgba(255, 255, 255, 0.5);
        --inv-25: rgba(255, 255, 255, 0.25);
        --inv-10: rgba(255, 255, 255, 0.1);
        --inv-05: rgba(255, 255, 255, 0.05);
    }

    [data-theme='dark'] {
        --mono: white;
        --mono-75: rgba(255, 255, 255, 0.75);
        --mono-50: rgba(255, 255, 255, 0.5);
        --mono-25: rgba(255, 255, 255, 0.25);
        --mono-10: rgba(255, 255, 255, 0.1);
        --mono-05: rgba(255, 255, 255, 0.05);

        --inv: black;
        --inv-75: rgba(0, 0, 0, 0.75);
        --inv-50: rgba(0, 0, 0, 0.5);
        --inv-25: rgba(0, 0, 0, 0.25);
        --inv-10: rgba(0, 0, 0, 0.1);
        --inv-05: rgba(0, 0, 0, 0.05);
    }

    .brass-mono,
    .brass-mono * {
        font-family: 'Brass Mono', Consolas, monospace;
        font-optical-sizing: auto;
    }

    .fira-code,
    .fira-code * {
        font-family: 'Fira Code', Consolas, monospace;
        font-optical-sizing: auto;
    }

    .jetbrains-mono,
    .jetbrains-mono * {
        font-family: 'JetBrains Mono', Consolas, monospace;
        font-optical-sizing: auto;
    }

    .fairfax-hd,
    .fairfax-hd *,
    .ipa,
    .ipa *,
    .unicode,
    .unicode * {
        font-family: 'Fairfax HD', Consolas, monospace;
        font-optical-sizing: auto;
    }

    .noto-sans,
    .noto-sans * {
        font-family: 'Noto Sans', sans-serif;
        font-optical-sizing: auto;
    }

    .space-grotesk,
    .space-grotesk * {
        font-family: 'Space Grotesk', sans-serif;
        font-optical-sizing: auto;
    }

    .geist,
    .geist * {
        font-family: 'Geist', sans-serif;
        font-optical-sizing: auto;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Geist';
        font-weight: 300;

        font-size: 25px;
        line-height: 1.5;
    }

    /* ==================== Debug ==================== */

    /* * {
        outline: 1px solid red !important;
    } */
}
