body {
    background: radial-gradient(circle at center, #220974 0%, transparent 55%), linear-gradient(140deg, #041947, #10051e 45%, #2b0a63);
}

#projects--grid {
    display: grid;
}

#projects--grid div {
    border-radius: 10px;
    outline: 1px solid red;

    padding: 1em;
    margin: 1em 0;
}

#projects--grid h1 {
    font-size: 30px;
}
#projects--grid .program {
    background: #007bff25;
}
