body {
    background: rgba(100, 100, 100);
}

@keyframes floatAnimation {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

#welcome {
    min-height: 90vh;
    padding: 5vh 0 20vh;

    background-image: url('/assets/iris.jpg');
}

#welcome--header.inactive,
#welcome--buttons.inactive,
#welcome--down.inactive {
    position: fixed;
    opacity: 0;
    transform: translateY(40px);
}

#welcome--header.active,
#welcome--buttons.active {
    position: relative;
}

#welcome--down.active {
    position: absolute;
}

#welcome--header.active,
#welcome--buttons.active,
#welcome--down.active {
    opacity: 1;
    transform: translateY(0);

    transition:
        opacity 1s ease,
        transform 1s ease;
}

#welcome--header {
    margin: 2em 0 4em 0;
}

#welcome--buttons {
    margin: 2em 1em 2em 0;
    user-select: none;
}

#welcome--buttons button {
    font-family: 'Fira Code';
    font-size: 40px;

    border: none;
    border-radius: 100em;
    margin: 1em;

    color: white;
    cursor: pointer;

    transition: all 0.3s ease;
}

#welcome--buttons button:active {
    transform: translateY(20px);
}

#welcome--profile-button {
    padding: min(5rem, 5vw) min(10rem, 5vw);

    background: linear-gradient(120deg, #6a30ffaa, #3532ffaa);
    box-shadow:
        0 0 min(2rem, 2vw) white,
        inset 0 0 min(1rem, 1vw) white;
}

#welcome--profile-button:hover {
    background: linear-gradient(120deg, #3c09be, #360ed8);
    box-shadow:
        0 25px 50px rgb(87, 40, 255),
        inset 0 0 25px rgb(117, 67, 255);
}

#welcome--navigation-button {
    font-size: 30px;
    background: none;
}

#welcome--navigation-button:hover {
    color: #ccc;
    text-shadow: 0 0 10px #ccc;
}

#welcome--down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: min(20vw, 200px);
    margin-top: 10vh;

    position: absolute;

    bottom: 0;
}

#welcome--down p {
    font-size: 20px;
    user-select: none;

    margin: 0;
    padding: 0;
    border-radius: 0;

    background: none;
}

#welcome--down svg {
    border: none;
    background: none;

    margin: 1.5vw 0;

    min-width: 100px;
    min-height: 75px;

    width: max(10vh);
    height: max(7.5vh);
}

#welcome--down svg:hover {
    filter: drop-shadow(0 0 20px white);
    cursor: pointer;
}

#faq {
    background: radial-gradient(circle at center, #09344e 0%, transparent 55%), #1b0346;
}

#faq-table {
    background: rgba(255, 255, 255, 0.05);

    margin-top: 20px;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
}

#connections {
    background: linear-gradient(140deg, #3a0387 0%, #1b0346 25%, #1b0346 75%, #4307b1);

    text-align: left;
    padding: 2.5%;
    color: #aaa;

    box-shadow: 0 -10px 50px #151515;
    border-top: 10px solid #000000;

    overflow-y: hidden;
}

#connections--statistics {
    width: 100%;
    text-align: center;
    background: none;
}

#connections--div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    flex-direction: row;
    gap: 15px;
}

#connections--socials,
#connections--support {
    margin: 0;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.25);
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255, 0.5);

    transition: box-shadow 0.2s ease;
}

#connections--socials:hover,
#connections--support:hover {
    box-shadow:
        0 10px 20px rgb(255, 255, 255, 0.25),
        inset 0 0 10px rgb(255, 255, 255, 0.5);
}

#connections--socials {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#connections--social-icons {
    display: flex;
    justify-content: left;
    align-items: center;

    flex-direction: row;
    gap: 15px;
}

#connections--social-icons img {
    display: inline-block;

    width: 60px;
    height: 60px;
    filter: drop-shadow(0 0 5px rgb(130, 130, 130));

    transition: filter 0.2s ease;
}

#connections--social-icons img:hover {
    filter: drop-shadow(0 5px 10px rgb(130, 130, 130));
}

#discord-status {
    font-family: 'JetBrains Mono';

    background: #12022f;

    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    border: 0.5rem solid #30078f;
    box-shadow: 0 0 10px #360ed8;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;

    text-align: left;

    color: #bca1ff;
    text-shadow: 0 0 10px #360ed8;

    animation: insetBlackGlow linear 4s infinite;
    transition:
        box-shadow 0.2s ease,
        background 0.5s ease;
}

#discord-status b {
    color: #7b47ff;
    text-shadow: 0 0 10px #5512ff;
}

@keyframes insetBlackGlow {
    0% {
        box-shadow: 0 0 10px #360ed8;
    }

    50% {
        box-shadow:
            0 0 10px #360ed8,
            inset 0 0 40px #4713c3;
    }

    100% {
        box-shadow: 0 0 10px #360ed8;
    }
}

#discord-status:hover {
    background: #220a5d;
    cursor: pointer;
}

#discord-status--avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid transparent;

    background:
        linear-gradient(120deg, #5634ff, #8f72da, #824dff, #7e42ff) border-box,
        #2f3136 padding-box;
    background-clip: border-box, padding-box;

    box-shadow: 0 8px 20px #6d0bc3;

    transition: transform 0.2s ease;
}

#discord-status--avatar:hover {
    transform: translateY(-3px);
}

#discord-status--nameplate {
    width: 100%;
}

#discord-status--display-name {
    text-decoration: none;
    background: linear-gradient(180deg, #ded3ff, #7c35ff);
    color: transparent;
    text-shadow: 0 0 10px #8819ff;

    background-clip: text;
    -webkit-background-clip: text;
}

#discord-status--nameplate hr {
    margin: 1rem 0;
    height: 5px;
}

.status-online {
    color: #6dff6d;
    text-shadow: 0 0 10px #12a212;
}

.status-idle {
    color: #fff56d;
    text-shadow: 0 0 10px #8a8207;
}

.status-dnd {
    color: #fd5858;
    text-shadow: 0 0 10px #8a0707;
}

.status-offline {
    color: #9c9c9c;
    text-shadow: 0 0 10px #555555;
}

/* ==================== The Responsive Zone ==================== */

@media (max-width: 768px) {
    #welcome--buttons button {
        margin: 0;
        padding: 20px 30px;
        font-size: 15px;
    }

    #welcome--buttons button:active {
        transform: translateY(10px);
    }

    #social-icons {
        gap: 5px;
    }

    #connections--div {
        flex-direction: column;
    }

    #connections--support {
        align-self: flex-end;
    }

    .social-icon {
        width: 40px;
        height: 40px;
    }
}
