/* ==================== Fonts ==================== */

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
        url('/assets/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src:
        url('/assets/fonts/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
        url('/assets/fonts/ttf/JetBrainsMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
        url('/assets/fonts/ttf/JetBrainsMono-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/woff2/FiraCode-Regular.woff2') format('woff2'),
        url('/assets/fonts/ttf/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    font-style: bold;
    font-weight: 700;

    font-display: swap;
    src:
        url('/assets/fonts/woff2/FiraCode-Bold.woff2') format('woff2'),
        url('/assets/fonts/ttf/FiraCode-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Brass Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('/assets/fonts/woff2/BrassMonoCode-Regular.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Brass Mono';
    font-style: bold;
    font-weight: 700;

    font-display: swap;
    src:
        url('/assets/fonts/woff2/BrassMonoCode-Bold.woff2') format('woff2'),
        url('/assets/fonts/ttf/BrassMonoCode-Bold.ttf') format('truetype');
}

body {
    font-family: 'JetBrains Mono';

    font-size: 25px;
    line-height: 1.5;
    color: #eeeeee;

    background-image: url('/assets/iris.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    transition: background 1s ease;

    overflow-y: hidden;
    overflow-x: hidden;
}

body.active {
    overflow-y: auto;
}

h1,
h2,
h3 {
    font-family: 'JetBrains Mono';
    font-weight: bold;

    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 75px;
    line-height: 1.2;

    color: #d4c1ff;
    text-shadow: 0 0 20px rgb(115, 60, 226);
}

h2 {
    font-size: 40px;
    line-height: 1.3;

    color: #ab87ff;
    text-shadow: 0 0 20px rgb(115, 60, 226);
}

ul,
ol {
    padding: 2rem 4rem;
    margin: 4rem 0;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: #e6e6fa;
    border-radius: min(0.5vw, 0.2em);
    box-shadow:
        0 0 20px rgba(255, 255, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.04);

    transition: background-color 0.2s ease;

    overflow-y: auto;
    overflow-x: hidden;
}

ul:hover,
ol:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

a {
    display: inline-block;

    text-decoration: none;
    background: linear-gradient(120deg, #8051ff, #433cff);
    color: transparent;
    text-shadow: 0 5px 20px #7142ff;

    -webkit-background-clip: text;
    background-clip: text;

    transition:
        transform 0.1s ease-out,
        text-shadow 0.2s ease;
}

a:hover {
    background: linear-gradient(120deg, #8f66ff, #6284ff);
    color: transparent;

    -webkit-background-clip: text;
    background-clip: text;

    transform: translateY(-2px);
}

hr {
    width: 100%;
    height: 10px;
    border: none;

    background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.section {
    padding-top: 15vh;
    width: 100%;
    height: 85vh;

    display: flex;
    flex-direction: column;
    text-align: center;
}

#connections {
    display: block;
    position: absolute;

    left: 0;
    top: auto;
    bottom: none;
    height: 40vh;

    width: 100%;
    background: #151515;

    box-shadow: 0 -10px 50px #151515;
    border-top: 10px solid #000000;
}

#aligned-center {
    justify-content: center;
    align-items: center;
}

#welcome-header,
#welcome-buttons,
#welcome-down {
    opacity: 0;
    transform: translateY(40px);
}

#welcome-header.active,
#welcome-buttons.active,
#welcome-down.active {
    opacity: 1;
    transform: translateY(0);

    transition:
        opacity 1s ease,
        transform 1s ease;
}

#welcome-header {
    margin-bottom: 2rem;
}

#welcome-buttons button {
    border: none;
    border-radius: 2em;

    margin: 1em;

    color: white;
    cursor: pointer;

    transition: all 0.3s ease;
}

#welcome-buttons button:active {
    transform: translateY(20px);
}

#profile-button {
    font-size: 40px;
    padding: min(50px, 2vw) min(100px, 2vw);
    border-radius: 25em;

    background: linear-gradient(120deg, #6a30ffaa, #3532ffaa);
    box-shadow:
        0 0 20px white,
        inset 0 0 10px white;
}

#profile-button:hover {
    background: linear-gradient(120deg, #3c09be, #360ed8);
    box-shadow:
        0 25px 50px rgb(87, 40, 255),
        inset 0 0 25px rgb(117, 67, 255);
}

#navigation-button {
    font-size: 40px;
    background: none;
}

#navigation-button:hover {
    color: #ccc;
    text-shadow: 0 0 10px #ccc;
}

#welcome-down {
    position: absolute;
    bottom: 2.5vh;
}

#welcome-down button {
    border: none;
    background: none;
}

#welcome-down button:hover {
    filter: drop-shadow(0 0 25px white);
    cursor: pointer;
}

#welcome-description {
    margin-top: 10vw;
}

#down-arrow-icon {
    margin: 0;
}

/* ==================== The Responsive Zone ==================== */

/* ==================== Phones / Mobile ==================== */

@media (max-width: 480px) {
    body {
        font-size: 10px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    hr {
        height: 5px;
    }

    .container {
        min-width: 150vh;
    }

    #welcome-buttons button {
        padding: 20px 30px;
        font-size: 15px;
    }

    #welcome-buttons button:active {
        transform: translateY(10px);
    }

    #down-arrow-icon {
        display: none;
    }
}
